@charset "utf-8";

/*==========================
main
==========================*/
.section--web {
    margin-top: 10px;
}

.titleNav_menu a:nth-child(2) {
    color: var(--primary--gold);
}

.mainTitle,
.btnBg,
.works__list,
.titleNav_menu,
.works__tab {
    padding: 0 var(--contentPadding);
}

.footer {
    margin-top: 50px;
}

.worksCard__img {
    display: block;
    width: 100%;
    aspect-ratio: 4 / 4;
    overflow: hidden;
    margin: 0;
    border-radius: 7px;
}

.worksCard__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* 중요! 줄바꿈 간격 제거 */
}


.worksCard__title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 17px;
}

.worksCard__tag {
    margin-top: 7px;
    color: var(--primary-gray);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
}

.works__tabWrapper {
    position: relative;
}

.works__tab {
    display: flex;
    gap: 26px;
    margin-top: 26px;
    position: relative;
}

.works__tabItem {
    position: relative;
    color: var(--primary-gray);
    font-size: 1.4rem;
    line-height: 1;
    padding-bottom: 15px;
}

.works__tabItem:nth-child(4) {
    color: var(--primary--gold);
}

.works__tabItem a:hover {
    opacity: 0.5;
}

.works__tab::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--primary-bgColor2);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.works__tabBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary--gold);
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 2;
}

.works__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    justify-content: flex-start;
}

.worksCard {
    width: calc(50% - 20px);
    box-sizing: border-box;
    margin-top: 34px;
}

.mainTitle {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 50px;
}

.btn:hover {
    opacity: 0.7;
}

/*==========================
PC: 769px 이상
==========================*/
@media screen and (min-width: 769px) {

    .mainTitle,
    .btnBg,
    .works__list,
    .titleNav_menu,
    .works__tab {
        padding: 0;
    }

    .works__list {
        gap: 40px
    }

    .worksCard {
        width: calc((100% - 80px) / 3);
        box-sizing: border-box;
    }

    .worksCard__img {
        width: 100%;
        height: auto;
        aspect-ratio: 4 / 3.5;
        object-fit: cover;
        display: block;
        margin-bottom: 0;

    }

    .section--web {
        max-width: 1280px;
        margin: 15px auto;
        padding: 0 var(--contentPaddingPc);
        box-sizing: border-box;
    }

    .titleNav_menu {
        margin: 0 auto;
    }

    .worksCard__title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1;
        margin-top: 18px;
    }

    .worksCard__tag {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
    }

}