/*==========================
main
==========================*/
.mainImg {
    position: relative;
    text-align: center;
}

.mainImg__sp {
    width: 100%;
}

.mainImg__pc {
    display: none;
}

.mainImg__handSvg {
    display: none;
}

/* main PC */
@media screen and (min-width:769px) {
    .mainImg {
        max-width: 1280px;
        margin: 0 auto;
    }

    .mainImg__pc {
        display: block;
        width: 1280px;
        height: 611px;
        margin: 0 auto;
        border-radius: 20px;
    }

    .mainImg__sp {
        display: none;
    }

    .mainImg__handSvg {
        display: block;
        position: absolute;
        top: 50%;
        left: 21%;
        transform: translate(-50%, -50%);
        width: 398px;
        height: 287px;
        z-index: 10;
    }
}

/* main PC END*/

.mainTopics {
    margin-top: 90px;
    padding: 0 var(--contentPadding);
    position: relative;
}

.mainTopics__title {
    left: 10%;
    top: -7.5%;
    position: absolute;
    font-family: "Klee One";
    font-size: 2.6rem;
    font-weight: 600;
}

.title {
    color: #FFF;
}

.mainTopics img {
    width: 100%;
}

.mainTopics__txt {
    margin-top: 30px;
    font-family: "Noto Sans JP";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}

.mainTopics__txt:nth-of-type(2),
.mainTopics__txt:nth-of-type(3),
.mainTopics__txt:nth-of-type(4) {
    margin-top: 10px;
}

.mainTopics__hr {
    margin-top: 60px;
    color: rgba(5, 13, 28, 0.1)
}

/* .mainTopics PC */
@media screen and (min-width:769px) {
    .mainTopics {
        max-width: 1280px;
        display: flex;
        margin: 0 auto;
        padding: 116px 90px 0px 90px;
        gap: 73px;
    }

    .mainTopics__title {
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: 1.75px;
        left: 10%;
        top: 15%;
    }

    .mainTopics__txt {
        margin-top: 0;
    }

    .mainTopics__txt:nth-of-type(2),
    .mainTopics__txt:nth-of-type(3),
    .mainTopics__txt:nth-of-type(4) {
        margin-top: 20px;
    }

    .mainTopics img {
        width: 471px;
        height: 294px;
    }

    .mainTopics__txt {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3;
    }
}

/* .mainTopics PC END*/

.project {
    margin-top: 40px;
}

.project__item a {
    display: block;
}

.project__item {
    background-color: #fff;
    margin-top: 40px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.project__item img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    margin: 0 auto;
}

.project__item:first-child {
    margin-top: 0;
}

.projectTopics {
    padding: 20px;
}

.projectTopics__txt {
    font-size: 1.6rem;
    line-height: 1;
}

.projectTopics__title {
    margin-top: 8px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
}

.section__bg {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* web PC */
@media screen and (min-width:769px) {
    .section--web {
        padding: 0 90px;
    }

    .project {
        display: flex;
        gap: 40px;
        justify-content: space-between;
    }

    .project__item {
        margin-top: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .project__item:hover {
        opacity: 0.7;

    }

    .section__topic {
        margin-top: 60px;
    }
}

/* web PC END */

.section__contanier {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section__btn {
    font-size: 1.4rem;
    line-height: 1;
}

.other {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.other__item {
    width: calc(50% - 10px);
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}

.other__item img {
    border-radius: 10px 10px 0 0;
}

.otherTopics {
    padding: 13px 0 13px 10px;
}

.otherTopics__txt {
    font-size: 1.4rem;
    line-height: 1;
}

.otherTopics__title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 8px;
}

/* other PC */
@media screen and (min-width:769px) {
    .other {
        margin: 40px auto 0;
        gap: 40px
    }

    .other__item {
        width: 30.7%;
        transition: opacity 0.3s ease-in-out;
    }

    .other__item:hover {
        opacity: 0.7;
    }

    .other__item img {
        width: 100%;
    }

    .otherTopics {
        padding: 20px;
    }

    .otherTopics__txt {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
    }

    .otherTopics__title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1;
        margin-top: 8px;
        /* 140% */
    }
}

/* other PC END */

.form-group,
.col {
    margin-top: 40px;
}

.form-group__topic,
.col__topic {
    font-weight: 500;
    line-height: 1;
}

.col__box {
    margin-top: 10px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    font-size: 1.4rem;
    width: 100%;
    padding: 8px 12px;
    color: rgba(0, 0, 0, 0.50);
}

.sendBtn {
    margin-top: 40px;
    background-color: #CCA264;
    border-radius: 5px;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

/* main end */

/* Contect PC */
@media screen and (min-width: 769px) {
    .section--contect {
        margin: 60px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 300px;
        gap: 60px;
    }

    .col__box {
        width: 496px;
    }

    .section__contanier {
        margin-top: 0;
    }

    .section__topic--contect {
        margin: 0;
        display: flex;

        align-items: center;
        height: 100%;
        font-size: 4.0rem;
        font-weight: 700;
        /* 120% */

    }

    .sendBtn {
        transition: opacity 0.3s ease-in-out;
        padding: 20px;
    }

    .sendBtn:hover {
        opacity: 0.7;
    }
}

/* Contect PC End */
