/*==========================
main
==========================*/
.mainImg {
    position: relative;
    text-align: center;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.mainImg__sp {
    width: 100%;
}

.mainImg__pc {
    display: none;
    max-width: 1280px;
    margin: 0 auto;
}

.mainImg__handSvg {
    display: none;
}

.section {
    padding: 0;
}

.procjectInfo img {
    transition: opacity 0.3s ease-out;
}

.procjectInfo img:hover {
    opacity: 0.7;
}

/* main PC */
@media screen and (min-width:769px) {
    .mainImg {
        max-width: 1280px;
        margin: 0 auto;
    }

    .mainImg__pc {
        display: block;
        width: 1280px;
        height: 611px;
        margin: 0 auto;
        border-radius: 20px;
    }

    .mainImg__sp {
        display: none;
    }

    .mainImg__handSvg {
        display: block;
        position: absolute;
        top: 50%;
        left: 21%;
        transform: translate(-50%, -50%);
        width: 398px;
        height: 287px;
        z-index: 10;
    }
}



/* main PC END*/


.webTopic {
    display: flex;
    align-items: center;
    gap: 11px;
    color: var(--primary-black);
    font-family: Montserrat;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-top: 60px;
    /* 26px */
}


.webTopic,
.project,
.section--contect {
    padding: 0 var(--contentPadding);
}

.webTopic::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/titleImg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.project__img {
    margin-top: 24px;
    transition: opacity 0.3s ease-in-out;

}

.project__img:hover {
    opacity: 0.8;
}


.project__img--margin {
    margin-top: 26px;
}

.ProjectInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    color: var(--primary-black);
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;

}

.ProjectTopic__title {
    color: var(--primary-black);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 24px;
}

.procjectInfo__txt {
    color: var(--primary-gray);
    font-size: 1.2rem;
    line-height: 1.5;
}

.procjectInfo {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.projectHr {
    margin-top: 48px;
    border: 1px solid var(--primary-bgColor2);
}

.brPc {
    display: none;
}

@media screen and (min-width:769px) {
    img {
        max-width: none;
    }

    .project__img {
        flex: 0 0 499px;
        height: 469px;
    }

    .project__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 12px;
    }

    .brSp {
        display: none;
    }

    .brPc {
        display: block;
    }

    .project {
        display: flex;
        max-width: 1280px;
        padding: 0 var(--contentPaddingPc);
        margin: 0 auto;
        gap: 60px;
        overflow-x: hidden;
    }

    .webTopic,
    .section--contect {
        padding: 0;
    }

    .procjetctGroup {
        width: 100%;
        max-width: calc(1100px - 499px - 60px);
        overflow-x: hidden;
    }

    .procjectInfo__txt,
    .ProjectTopic__title {
        margin-top: 151px;
    }

    .ProjectInfo {
        color: var(--primary-black);
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }

    .webTopic {
        max-width: 1280px;
        padding: 0 var(--contentPaddingPc);
        margin: 60px auto 30px;
        color: var(--primary-black);
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
    }

    .ProjectTopic__title {
        color: var(--primary-black);
        font-family: Montserrat;
        font-size: 50px;
    }

    .projectHr {
        margin-top: 100px;
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .procject--margin {
        margin-top: 100px;
    }

    .procjectInfo a {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-top: 20px;
    }

    .procjectInfo a img {
        width: 40px;
        height: 40px;
    }
}

/* about */
.mainTopics {
    position: relative;
    background-color: var(--primary-bgColor2);
    border-radius: 20px 20px 0 0;
    margin-top: 60px;
}

.mainTopics__article {
    padding: 90px var(--contentPadding) 60px;
}

.mainTopics__title {
    left: 10%;
    top: 154%;
    position: absolute;
    font-family: "Klee One";
    font-size: 2.6rem;
    font-weight: 600;
    z-index: 2;
}

.mainTopics__txt {
    margin-top: 30px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    text-align: justify;
}


.title {
    color: var(--primary--bgColor);
}

.about__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.about__header a {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__arrow {
    width: 125px;
    height: 22px;
    object-fit: contain;
    display: block;
    transition: transform 0.3s ease;
}


.about__title {
    color: var(--primary-black);
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1;
}

.about__subtitle {
    color: var(--primary-gray);
    font-size: 1.2rem;
    line-height: 1;
    margin-top: 8px;
}

.about__arrow--open {
    transform: rotate(180deg);
}

.aboutHr {
    margin-top: 24px;
}

.about__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease,
        0.4s ease;
}

.about__content--open {
    max-height: 1200px;
}

.about__inner {
    padding: 20px 0;
    font-size: 1.4rem;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
}

.about__inner2 {
    padding: 20px 0;
    font-size: 1.4rem;
    line-height: 2;
    /* text-align: justify; */
}

.mainTopics__hr {
    margin-top: 60px;
    color: rgba(5, 13, 28, 0.1)
}

.visualPc {
    display: none;
}

@media screen and (min-width:769px) {
    .mainTopicsVisual {
        max-width: 1280px;
        height: 382px;
        padding-top: 116px;
    }

    .mainTopics__article {
        max-width: 1280px;
        margin: 0 auto;
    }

    .mainTopics__article {
        padding: 0;
    }

    .visualSp {
        display: none;
    }

    .visualPc {
        display: block;
        border-radius: 191px;
    }

    .mainTopics__article {
        width: 100%;
    }

    .section--about {
        max-width: 100%;
        background-color: var(--primary-bgColor2);
        margin-top: 100px;
    }

    .mainTopics__title {
        display: none;
        left: 12%;
        top: 185%;
        color: var(--primary-white);
        font-family: "Klee One";
        font-size: 3.5rem;
        font-style: normal;
        line-height: 1.5;
    }

    .mainTopics {
        padding: 0 var(--contentPaddingPc) 100px;
        max-width: 1280px;
        margin: 0 auto;
    }

    .mainTopics__topic {
        margin-top: 160px;
    }
}

/* about */


/* contact me */
.section {
    padding: 0;
}

.section__topic--contect {
    color: var(--primary--bgColor);
    align-items: center;
    position: absolute;

}

.section__topic--contect::before {
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    content: url(../img/white_titleicon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
}

.section--contect {
    background-color: var(--primary-bgColor2);
}

.contect__article {
    background-color: var(--primary-deepBlue);
    padding: 60px var(--contentPadding);
    border-radius: 20px 20px 0 0;
}

.section__contanier {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section__btn {
    font-size: 1.4rem;
    line-height: 1;
}

.form-group,
.col {
    margin-top: 40px;
    color: var(--primary--bgColor);
    font-size: 1.8rem;
}

.form-group__topic,
.col__topic {
    font-weight: 500;
    line-height: 1;
}

.col__box {
    margin-top: 10px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    font-size: 1.4rem;
    width: 100%;
    padding: 8px 12px;
    color: rgba(0, 0, 0, 0.50);
}

.sendBtn {
    margin-top: 40px;
    background-color: #CCA264;
    border-radius: 5px;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.contect__formWrap {
    margin-top: 60px;
}

@media screen and (min-width: 769px) {
    .section.section--contect {
        padding: 0 !important;
        max-width: 100% !important;
        width: 100%;
    }

    .section--contect {
        background-color: var(--primary-deepBlue);
    }

    .contect__article {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1280px;
        gap: 80px;
        margin: 0 auto;
        padding: 100px var(--contentPaddingPc);
        border-radius: 40px 40px 0 0;
        background-color: var(--primary-deepBlue);
    }

    .contect__title {
        flex: 1;
    }

    .contect__formWrap {
        flex: 1;
    }

    .contect__article .container {
        all: unset;
    }

    .contect__formWrap {
        margin-top: 0;
    }
    .col-first{
        margin-top: 0;
    }
    .form-group{
        margin-top: 0;
    }
}




/* main end */